src/com/edwin/ws/wsdl/holamundo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/holamundo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="holamundo" targetNamespace="http://www.example.org/holamundo/">
  <wsdl:types>
  	<xsd:schema targetNamespace="http://www.example.org/holamundo/">
  		<xsd:element name="mensajeParameter" type="xsd:string" />
  		<xsd:element name="result" type="xsd:string" />
  	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMensajeRequest">
    <wsdl:part name="mensajeRequestParameter" element="tns:mensajeParameter"/>
  </wsdl:message>
  <wsdl:message name="getMensajeResponse">
    <wsdl:part name="result" element="tns:result"/>
  </wsdl:message>
  <wsdl:portType name="Holamundo_PortType">
    <wsdl:operation name="mensaje">
      <wsdl:input message="tns:getMensajeRequest"/>
      <wsdl:output message="tns:getMensajeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="holamundoSOAP" type="tns:Holamundo_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mensaje">
      <soap:operation soapAction="http://www.example.org/holamundo/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="holamundoServices">
    <wsdl:port binding="tns:holamundoSOAP" name="holamundoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
